@font-face {
  font-family: 'Assouline';
  font-style: normal;
  font-weight: normal;
  src:  url('/font/Aficionado DEMO.otf') format('opentype');
}
@font-face {
  font-family: 'cormorant';
  font-style: normal;
  font-weight: normal;
  src:  url('/font/CormorantGaramond-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pinyon';
  font-style: normal;
  font-weight: normal;
  src:  url('/font/PinyonScript.ttf') format('truetype');
}

@font-face {
  font-family: 'david';
  font-style: normal;
  font-weight: normal;
  src:  url('/font/DavidLibre-Regular.ttf') format('truetype');
}

