* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: 'Cormorant', sans-serif;
  color: #333;
  text-align: center;
  overflow-x: hidden;
}
h1{
  font-family: pinyon, sans-serif;
  font-size: 50px;
  margin-bottom: 1rem;
  font-weight: 400;
}

a{
  color: white;
  text-decoration: none;
}
.fade-in-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-image.visible {
  opacity: 1;
}


#overlay {
  background-image: url("/img/evaSacha5.jpg");
  background-size: cover;
  background-position: top;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffaf4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 2000;
  padding-bottom: 30px;
}

#overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

#decompte {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
  height: 20vh;
}

.elementDecompte {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 48%;
  border-bottom: 2px solid #ffffff;
  border-right: 3px solid #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.texteDecompte {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 8px;
}

.chiffreDecompte {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
}

#firstImg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
}

.firstImgContenaire {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 7vh;
  margin-bottom: 30px;
}

.button-style {
  font-size: 1.15rem;
  color: #000000;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #e7dbcb;
  transition: all 0.4s ease;
  font-family: Cormorant, sans-serif;
  display: inline-block; /* Permet au scale de bien s'appliquer */
}

.button-style:hover {
  color: #000000;
  background-color: white;
  border-color: #000000;
  transform: scale(1.05); /* Augmente de 10% */
}



.text-section {
  background-image: url('/img/fleurTaupe.jpg');
  position: relative; /* Nécessaire pour que l'image soit positionnée par rapport à cette section */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.text-container {
  width: 100%; /* Le cadre prend toute l'image */
  height: auto; /* Le cadre prend toute l'image */
  color: #333;
  font-size: 3rem;
  font-family: 'Assouline', sans-serif;
  padding: 22px;
  background: rgba(255, 255, 255, 0.67); /* Fond semi-transparent */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.overlay-eye {
  position: absolute;
  bottom:-70px; /* Positionne l'image au bas du conteneur */
  left: 0; /* Positionne l'image à gauche du conteneur */
  transform: translateX(0); /* Aucune transformation horizontale nécessaire */
  z-index: 2; /* Assure que l'image est au-dessus des autres éléments */
}


.overlay-flower {
  position: absolute;
  /* Déplace l'image de l'œil vers la droite, au-delà de la div image */
  top: 0%; /* Positionne l'image à 50% de la hauteur de la section */
  transform: translateY(-50%); /* Centrer verticalement l'image */
  right: 0;
  z-index: 2; /* Assure que l'image est devant les autres éléments */
}
.flower-image {
  width: 80px;  /* Ajuste la taille de l'œil */
  height: auto;
}

.eye-image {
  width: 100px;  /* Ajuste la taille de l'œil */
  height: auto;
}

.image-section {
  position: relative; /* Nécessaire pour que l'image soit positionnée par rapport à cette section */
  height: 80vh; /* Ajuste la hauteur de la section image */
  background-size: cover;
  background-position: center;
}


.texteGros{
  font-family: 'pinyon', serif;
  font-size: 35px;
  color: #333333;
  font-weight: 300;

}

.texte{
  font-family: 'cormorand', serif;
  font-size: 18px;
  color: #333333;
  font-style: italic;
  font-weight: lighter;
}
br {
  display: block;
  content: "";
  margin: 25px 0; /* Réduit l'espacement vertical */
}


.famille-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 600px;

  font-family: 'cormorand', serif;
  font-size: 14px;
  color: #333333;
  font-style: italic;
  font-weight: lighter;
}

.famille-mariee{
  text-align: left;

}
.famille-marie{
  text-align: right;
}
